:root {
    --color: #111; 
    --background-color: #EEE; 
    --button-color: #d091bf;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color: #EEE;
        --background-color: #111; 
        --button-color: #a9408c;
    }
}

:root {
    color-scheme: light dark;
    color: var(--color);
    background-color: var(--background-color);
}

h1 {
    text-align: center;
    font-family: cursive;
    font-size: xxx-large;
    padding: 0;
    margin: 0;
}

h1 a img {    
    background-image: url(imgs/resources/skullby4tile.png);
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 20px;
    padding-right: 10px;
}

.wrapper{
    padding: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}

.titleHeader a{
    text-decoration: none;
    -webkit-text-stroke: 0.075em hotpink;
    paint-order: stroke;
}

.controls {
    display: flex;
    column-gap: 1em;
    background-color: purple;
    padding: 1em;
    justify-content: center;
    border: inset pink;
}

.controls a {
    padding: 0.5em;
    text-decoration: none;
    display: block;
    /*font-family: sans-serif;
    background-color: var(--button-color);
    border: 2px outset var(--color);
    text-transform: uppercase;
    color: var(
    --color);*/
}

a[hidden] {
    display: none;
}

.body-wrap{
    background: none;
    border: double;
    padding: 3px;
}

.lens {
    display: flex;
    justify-content: center;
}

.lens img {
    border-style:outset;
}

.descBox{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border: 3px outset aqua;
    padding: 1rem;
}

.chkBxLabel{
    border: ridge;
    padding: 2px;
}

body {
    margin: 1em;
}

img#page {
    max-width: min(calc(100vw - 2em), 1000px);
}